<a class="title" href="/">{{ title }}</a>

<div class="toolbar-spacer"></div>
<a mat-button [routerLink]="['guarded']">Guarded Component</a>

<div class="topBar">
    <h4 *ngIf="loggedIn" style="top:0.6em; left: 10%;position:absolute;color:#2E2C34"> Welcome: {{username}}</h4>
    <img style="height:40px;margin-right:auto ;margin-left: auto;display: block;top:0.1em;" src="/assets/images/baseFarmLogoGreen.png">
    <dx-button style="top:0.1em; right: 20px;position:absolute" *ngIf="!loggedIn" (click)="login()" text="Login"></dx-button>
    <dx-button style="top:0.1em; right: 20px;position:absolute" *ngIf="loggedIn" (click)="logout()" text="Logout"></dx-button>
</div>

<!--<button mat-button *ngIf="loggedIn" (click)="editProfile()">Edit Profile</button>-->


<app-welcome *ngIf="!loggedIn"></app-welcome>
<router-outlet *ngIf="!isIframe"></router-outlet>
<app-bottomBar></app-bottomBar>